* {
    margin: 0;
    padding: 0;   
}

body {
    background-color: #a0a0a0;
}

#conteneur_grid {
    display: grid;
    grid-template-columns: 5vw 90vw 5vw;
    grid-template-rows: 20vh 60vh 20vh;
    justify-items: center;
    grid-template-areas:
        ".        label_json     ."
        ".        label_cases    ."
        ".        label_auteur   .";
}

#conteneur_flex {
    grid-area: label_cases;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.f_item {
    border: 1px solid #000000;
    width: 15%;
    min-width: 150px;
    margin: 10px;
    overflow: hidden;
}

.f_item a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#json {
    grid-area: label_json;
    border: 1px solid #888;
    border-radius: 4px;
    margin: 5px;
    padding: 5px 15px;
    align-self: start;
}

#json a {
    color: gray;
    text-decoration: none;
}

#signature {
    grid-area: label_auteur;
    color: gray;
    font-size: 0.8rem;
    padding: 5px;
    align-self: end;
}

.f_item span {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #444;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    transform: translateY(-10px);
    transition: opacity 0.3s ease;
    font-size: 0.8rem;
    white-space: nowrap;
}

.f_item:hover span {
    visibility: visible;
    opacity: 1;
}

.info_bulle {
position: relative;
}

.info_bulle .ib_text {
visibility: hidden;
width: 160px;
background-color: lightgray;
color: black;
text-align: center;
border: 1px solid gray;
border-radius: 5px;
padding: 5px;
position: absolute;
bottom: 50%;
left: 50%;
transform: translateX(-50%);
z-index: 1;
opacity: 0;
transition: opacity 1s;
}
.info_bulle:hover .ib_text {
visibility: visible;
opacity: 1;
}